<div class="container mt-5">
    <div class="row mx-auto row-cols-1 row-cols-lg-2">
        <div class="col mb-5 p-0 col-lg-2 nav flex-column nav-pills" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <a class="nav-link" [routerLink]="['list']" [routerLinkActive]='["active"]'>Mis temas</a>
            <a class="nav-link" [routerLink]="['add']" [routerLinkActive]='["active"]'>Crear tema</a>
            <a class="nav-link" [routerLink]="['ajustes']">Ajustes</a>
        </div>
        <div class="col px-0 px-lg-5 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>