<div class="jumbotron  mt-3 jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Bienvenido al foro de programacion</h1>
        <p class="lead text-center"> Pon tus dudas, aprende y ayuda a tus compañeros desarrolladores :) </p>
    </div>
    <div class="d-flex justify-content-center gap-3">
        <a class="btn btn-primary" href="">Ver temas</a>
        <a class="btn btn-success" href="">Ver Compañeros</a>
        <a class="btn btn-warning" href="">Añade un nuevo tema</a>
    </div>
</div>


