<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid mx-5">
        <a class="navbar-brand" href="#">Ng-Foro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ver Temas</a>
                </li>

                <li *ngIf="user" class="nav-item">
                    <a class="nav-link" href="#">Crear Temas</a>
                </li>
                
            </ul>
            
            <form class="d-flex col mx-lg-3 gap-3 " role="search">
                <input class="form-control" type="search" placeholder="Buscar un tema" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </form>
           
            <ul *ngIf="!user" class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link py-2 " aria-current="page" [routerLink]="['/register']">Registrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 " aria-current="page" [routerLink]="['/login']">Login</a>
                </li>
            </ul>

            <div *ngIf="user" class="d-flex align-items-left align-items-lg-center gap-3 navbar-nav mb-2 mb-lg-0">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" >Mi perfil</a></li>
                        <li><a class="dropdown-item" [routerLink]="['ajustes']">Ajustes</a></li>
                        <li><a class="dropdown-item" href="#">Panel Administrativo</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="logOut()" href="#">Cerrar sesion</a></li>
                    </ul>
                </div>
                <div class="d-flex align-items-center gap-3 nav-item">
                    <p class="m-0"> {{user.name}}, {{user.surname}}</p>
                    <i *ngIf="!user.image" class="fa-solid fa-user"></i>
                    <img *ngIf="user.image" class="img-mask-user-small" [src]="imageSrc">
                </div>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
